* {
  scroll-behavior: smooth;
}

html {
    font-size: 16px;
} 

@media only screen and (min-width : 320px) and (max-width : 480px) {
  .container .user-card {
    flex:1 0 80%;
    max-width: 80%; 
    margin: 1vw; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
  }

  .modal-content {
    width: 80%!important;
    padding:1rem!important;
  }
}
@media screen and (min-width : 480px) and (max-width:1024px) {

  #users-container .user-card {
        flex: 0 0 40%; 
        max-width: 50%; 
        margin: 1vw; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
      }
      
}

.user-card {
  flex: 0 0 30%; 
  max-width: 30%; 
  margin: 1vw; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.img-thumbnail {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.dark-mode, .dark-mode .card, .dark-mode .img-thumbnail, .dark-mode .modal-content {
  background-color: #495057!important; 
  color: #ffffff;
}
.user-card {
  transition: transform 0.3s ease;
}
.user-card:hover {
  transform: translateY(-5px); 
  cursor: pointer;
}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1234; 
}

.modal-content {
    cursor: auto;
}

.show {
    display: flex;
}
